.btn{
    display: inline-block;
    padding: 5px 25px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color:hsl(331, 77%, 58%) ;
    border: none;
    cursor: pointer;

}
%btn{
    display: inline-block;
    padding: 5px 25px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color:#E74292 ;
    border: none;
    cursor: pointer;
}